.places {
    grid-area: places;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: min-content;
    grid-auto-rows: min-content;
    row-gap: 80px;
    padding: 92px 24px 92px 24px;
}


@media screen and (max-width: 1024px) {
    .places {
        padding: 88px 24px 90px 24px;
        row-gap: 73px;
    }
}

@media screen and (max-width: 760px) {
    .places {
        padding: 64px 16px 66px 16px;
        row-gap: 50px;
    }
}

@media screen and (max-width: 702px) {
    .places {
        padding: 64px 0 66px 0;
        row-gap: 50px;
    }
}