.header {
    min-height: 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: header;
    width: 100%;
    max-width: 1184px;
    padding-top: 28px;
}

@media screen and (max-width: 768px) {
    .header {
        padding-top: 16px;
    }
}