.intro {
    max-width: 690px;
    grid-area: intro;
    justify-self: flex-start;
    padding-top: 92px;
}

@media screen and (max-width: 1020px) {
    .intro {
        max-width: 100%;
        padding-top: 64px;
    }
}

@media screen and (max-width: 768px) {
    .intro {
        padding-top: 64px;
    }
}