.root {
    background-color: #2A2C2F;
    max-width: 1184px;
    margin: 0 auto 0 auto;
    display: grid;
    grid-template-columns: 1fr minmax(320px, 984px) 1fr;
    grid-template-rows: repeat(5, min-content);
    grid-template-areas:
    ". lead ."
    ". intro ."
    "photo-grid photo-grid photo-grid"
    ". places ."
    "cover cover cover";
    justify-content: center;
}