.cover__background {
    width: 100%;
    min-height: 740px;
    z-index: 0;
    background-image: url("../../../images/trains.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    gap: 32px;
}

.cover__background::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #2A2C2F;
    opacity: 0.3;
    z-index: -1;
}

.cover__background:hover::after {
    opacity: 0.8;
    transition: opacity 0.5s;
}

@media screen and (max-width: 1278px) {
    .cover__background {
        min-height: 640px;
    }
}

@media screen and (max-width: 1020px) {
    .cover__background {
        min-height: 480px;
    }
}

@media screen and (max-width: 760px) {
    .cover__background {
        min-height: 320px;
        gap: 16px;
    }
}

@media screen and (max-width: 370px) {
    .cover__background {
        min-height: 200px;
    }
}