.place {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-template-rows: min-content min-content;
    column-gap: 40px;
    row-gap: 48px;
}

@media screen and (max-width: 1024px) {
    .place {
        column-gap: 28px;
        row-gap: 48px;
    }
}

@media screen and (max-width: 760px) {
    .place {
        gap: 32px;
    }
}