.footer {
    grid-area: footer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding:  92px 16px 0 16px;
}

@media screen and (max-width: 768px) {
    .footer {
        flex-direction: column;
        align-items: flex-start;
        padding:  64px 16px 0 16px;
    }
}